/*Universal Selector*/
* {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}

/*Class Selector*/
.p3-color {
	color: yellow;
}

.css-intro {
	font-size: 40px;
}

.list-background {
	background-color: lightgreen;
}


/*Id Selector*/
#h2-tag {
	text-transform: uppercase;
}

/*Attribute Selector*/
li[class="ol-tools"] {
	border: 1px solid cyan;
}

/*Adjacent Sibling Selector*/
img + ul {
	list-style-type: none;
}

/*Descendants Selector*/
section img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

/*General Sibling Selector*/
ul ~ p {
	text-align: center;
}

/*Child Selector*/
ul > li {
	letter-spacing: 10px;
}